.header {
  padding: 1em;
  background-color: firebrick;
  color: #262626;

  text-align: center;
}

.header .title .emphasis {
  color: white;
}

.main {
  text-align: center;
}

.list {
  padding: 2em;
  gap: 2em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#legend {
  background-color: #ddd;
  padding: 2em;

  list-style: circle;
  text-align: start;

  min-width: 250px;
  max-width: 600px;
  height: fit-content;
}

.footer {
  color: white;
  background-color: #262626;

  width: 100%;
  padding: 2em;

  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;

  position: relative;
  padding-bottom: 4em;
}

.footer__box {
  min-width: 250px;
  max-width: 500px;
}

.footer__madeby {
  position: absolute;

  bottom: 1.5em;

  font-size: .75em;
}